* {
    margin: 0;
    padding: 0;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
  }

  h1 {
    background-image: linear-gradient(to right,#221f3b, #050505);
  }

  .navlinks {
    background: linear-gradient(to top,  #ebebeb 50%,#050505 200%);
  }

  .navlinks a {
    color: #050505;
    font-size: 20px;
  }

  .navlinks a:hover {
    color: #221f3b;
  }

  .wrapper {
    width: 100%;
  }

  body {
    background-color: #050505;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 66px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%;
  }

  .navbar {
    width: 90%;
    margin-top: 30px;
  }
  .navbar h1 {
    text-align: center;
    padding: 30px;
    border: 1px solid white;
  }
  .navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid white;
    border-width: 0 2px 2px 2px;
    height: 50px;
  }
  
  .navbar ul li {
    display: block;
    width: 33.3%;
    text-align: center;
  }

  .content {
    width: 80%;
    margin: 40px 0;
    border: 1px solid white;
    padding: 10px 30px;
    background-color: #221f3b;
  }

  .content h4 {
    align-items: center;
    text-align: center;
    justify-content: center;
    text-decoration-line: underline;
  }

  .content p {
    padding: 10px;
    line-height: 2em;
  }

  a {
    text-decoration: none;
    color: white;
  }
  
  p {
    font-size: 20px;
  }

  br {
    line-height: 1%;
 }

 @media only screen and (max-width: 1000px) {
  html{
      align-items: center;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-content: center;
  }
}