.title h1{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title h1 img {
  position: relative;
  bottom: 8px;
  right: 2px;
  margin-right: 10px;
}

.content form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
  }
  
  button {
    margin: 30px auto;
    padding: 20px 60px;
    font-size: 30px;
    border-radius: 10px;
    border: none;
    color: #221f3b;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.4), 0 6px 20px 0 rgba(0,0,0,0.30);
    opacity: 0.9;
    transition: 0.3s;
    cursor: pointer;
  }

  button:hover {opacity: 1}
  
  button .advance-search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
    border: none;
  }

  h4:hover {
    background-color: black;
    border: 1px solid white;
  }

  .advsearchtext {
    line-height: 1em;
  }

  .adv-search {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: space-around;
    font-size: 16px;
    flex-wrap: wrap;
  }
  
  .adv-search li {
    display: block;
    width: 300px;
    margin: 10px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  .adv-search ul {
    background-color:#050505; 
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-around;
    border: 2px solid white;
    padding: 8px;
    
  }
  
  .adv-search ul li{
    display: block;
    justify-content: center;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  .advsearchtext {
    text-align: center;
  }
  
  .collapsable > input[type=checkbox] {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .collapsable > input[type=checkbox] ~ * {
  max-height: 1000em;
  transition: 0.6s cubic-bezier(1,0,1,0);
  overflow: hidden;
  }

  .collapsable > input[type=checkbox]:not(:checked) ~ * {
  max-height: 0;
  transition: 0.6s cubic-bezier(0,1,0,1);
  }

  .collapsable label > span {
  text-decoration: underline dotted gray;
  cursor: pointer;
  }

  .collapsable h4 {
    padding-bottom: 20px;
  }

@media handheld, only screen and (max-width: 960px) {
  html{
      align-items: center;
      text-align: center;
      justify-content: center;
      display: flex;
      flex-direction: column;
      align-content: center;
  }

  button {
    width: 80%;
  }
}