.content h2 {
    text-align: center;
}
.content ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content ul li {
    display: block;
    width: 33.3%;
}

.content ul li div { 
    margin: 10px;
    background-color: #050505;
    padding-bottom: 100%;
}

@media handheld, only screen and (max-width: 960px) {
    html{
        align-items: center;
        text-align: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        align-content: center;
    }
  }